{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="Author">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
            
        </div>
        <h2 class="article-title mt-3">{{ object.title }}</h2>
        <p class="article-content-detail">{{ object.content }}</p>
        <div class="post-bottom">
            {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
    </article>
{% endblock content %}